body{width:500px;}
body{height:700px;}
body{margin: auto;}
body{border:7px dashed salmon;}
h1{background-color: pink;}
h1{color: black}
h2{padding-left: 10px;}
ul{background-color: azure}
p{padding-left:50px }
img{border-radius:50px;}
img{border:3px ridge navy;}
img{margin-left: 135px;}
